Görev 2:  Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime
kelime ayırınız. 
Beklenen çıktı:
['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFOTMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

In [1]:
text="The goal is to turn data into infotmation, and information into insight."
text=text.upper().replace(",","").replace(".","").split()
print(text)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFOTMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

Görev 3:  Verilen listeye aşağıdaki adımları uygulayınız.

lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

Adım1: Verilen listenin eleman sayısına bakınız.

Adım2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

Adım3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.

Adım4: Sekizinci indeksteki elemanı siliniz.

Adım5: Yeni bir eleman ekleyiniz.

Adım6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [2]:
lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]
#adım 1
print(len(lst))
#adım 2
print(lst[0],lst[10])
#adım 3
print(lst[0:4])
#adım 4
lst.pop(8)
#adım 5
lst.append("a")
#adım 6
lst.insert(8,"N")
print(lst)

11
D E
['D', 'A', 'T', 'A']
['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'a']

 Görev 4 - Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
 
dict = {'Christian': ["America", 18],
        'Daisy': ["England", 12],
        'Antonio': ["Spain", 22],
        'Dante': ["Italy", 25]}
        
Adım1: Key değerlerine erişiniz.

Adım2: Value'lara erişiniz.

Adım3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

Adım4: Key değeri Ahmet value değeri[Turkey,24] olan yeni bir değer ekleyiniz.

Adım5: Antonio'yu dictionary'den siliniz.

In [3]:
dict = {'Christian': ["America", 18],
        'Daisy': ["England", 12],
        'Antonio': ["Spain", 22],
        'Dante': ["Italy", 25]}
#adım 1
print(dict.keys())
#adım 2
print(dict.values())
#adım 3
dict["Daisy"][1]=13
#adım 4
dict["Ahmet"]=["Turkey",24]
#adım 5
dict.pop('Antonio')
print(dict)

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])
dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])
{'Christian': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

Görev 5 - Argüman olarak bir liste alan, listenin içerisinde tek ve çift sayıları ayrı listeye atayan ve bu listeleri return 

eden fonksiyon yazınız.

l = [2, 13, 18, 93, 22]

def func(..):

   ...
   
   ...
   
   return ..
   
even_ list, odd_list = func(l)

In [4]:
l = [2, 13, 18, 93, 22]
def func(l):
    even_list=[]
    odd_list=[]
    for i in l:
        if i%2==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list, odd_list
even_list, odd_list = func(l)
print(even_list)
print(odd_list)

[2, 18, 22]
[13, 93]

Görev 6: Aşağıda verilen listede mühendislik ve tıp fakültelerinde dereceye giren öğrencilerin isimleri bulunmaktadır.

Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci 
sırasına aittir.

Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

In [5]:
ogrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

for i,ogrenci in enumerate(ogrenciler,1):
    if i < 4:
        print("Mühendislik Fakültesi", i, ". öğrenci", ogrenci)
    else:
        print("Tıp Fakültesi", i, ". öğrenci", ogrenci)

Mühendislik Fakültesi 1 . öğrenci Ali
Mühendislik Fakültesi 2 . öğrenci Veli
Mühendislik Fakültesi 3 . öğrenci Ayşe
Tıp Fakültesi 4 . öğrenci Talat
Tıp Fakültesi 5 . öğrenci Zeynep
Tıp Fakültesi 6 . öğrenci Ece

Görev 7:Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır.

Zip kullanarak ders bilgilerini bastırınız. 

ders_kodu = ["CMP1005", "Psy1001", "Huk1005", "Sen2204"]

kredi = [3,4,2,4]

kontenjan = [30,75,150,25]

In [6]:
ders_kodu = ["CMP1005", "Psy1001", "Huk1005", "Sen2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]
list = list(zip(ders_kodu,kredi,kontenjan))
for ders_kodu, kredi, kontenjan in list:
    print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan Psy1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan Huk1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan Sen2204 kodlu dersin kontenjanı 25 kişidir.

Görev 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen: eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [7]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def belirle(k1,k2):
    if k1.issuperset(k2):
        print(k1.intersection(k2))
    else:
        print(k2.difference(k1))
        
belirle(kume1,kume2)

{'lambda', 'function', 'miuul', 'qcut'}